<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.GirlDao">
    <!--<insert id="id" parameterType="Integer">-->
    <select id="selectById" resultType="com.example.demo.entity.Girl">
        select * from girl
        where id=#{id}
    </select>
    
    <insert id="insertGirl" parameterType="com.example.demo.entity.Girl"
            useGeneratedKeys="true" keyProperty="uid" keyColumn="id">
        INSERT INTO girl(
            name,
            age
        )VALUES (
          #{name},
          #{age}
        )
    </insert>
</mapper>